.ingredients-box {
    border-radius: 25px;
    border: 1px solid rgba(35, 35, 27, 0.5);
    height: auto;
    width: fit-content;
    padding: 50px;
}

.ingredients-list {
    overflow-y: auto;
    width: 100%;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #D3E3EE #f0f0f0;
    margin-bottom: 20px;
}

.ingredients-box h3 {
    margin-top: 5px;
}

.input-bar {
    padding-top: 10px;
    margin-bottom: 15px;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.ingredient-item:last-child {
    border-bottom: none;
}

.ingredient-item:hover {
    background-color: #f0f0f0;
}

.ingredient-item svg:hover {
    color: rgb(255, 97, 97);
}


.input-bar input {
    line-height: 20px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    padding: 6px 16px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.input-button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: calc(10px + 0.2vw);
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    font-family: "IBM Plex Sans", sans-serif;
  
  }
  
  .input-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .input-button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .input-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .input-button:focus {
    outline: 1px transparent;
  }
  
  .input-button:before {
    display: none;
  }
  
  .input-button:-webkit-details-marker {
    display: none;
  }

  .my-palate {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-self: center;
  }

  .recipe-item {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9) 50%, transparent 100%);
    background-position: center bottom;
    display: flex;
  }

  .recipe-item p {
    align-self: flex-end;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Align text as needed */
    align-self: flex-end;
    margin: 10px;
  }

  .white-text {
    color: #f4f8ff;
  }

  .recipe-item:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: box-shadow 0.3s ease;
  }
  
  .modal img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 50px;
  }
  
  .recipe-title {
    padding-bottom: 25px;
    border-bottom: 1px black solid;
  }

  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
    position: relative;
  }
  
  .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-content .close:hover,
  .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .thumbs {
    font-size: 30px;
  }

  .thumbs-up {
    color: green;
  }

  .thumbs-down {
    color: red;
  }